<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/page.js' ></script>
    <title>{{res.id}}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Information de {{user.nom}} </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/gestionnaire/listClients/" class="text-success">retour</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if info %}
            <div id="alert" class="alert alert-{{infoType}}">{{info}}</div>
        {% endif %}

        {% if demandes %}
        <div id="zoneDemande">
            <fieldset>
                <legend>Les informations des demandes</legend>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in demandes %}
                    <tr>
                        <th scope="row">{{item.numero}}</th>
                        <td>{{item.createTime}}</td>
                        <td>{{item.status}}</td>
                        <td><a href="/gestionnaire/consulterDemande/?id={{item.id}}&cd=1" class="text-success">Consulter</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        {% endif %}
    </div>
</body>
</html>