<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/page.js' ></script>
    <title>Gestionnaire</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Gestionnaire</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li role="presentation">
                            <a id="gotoRes">Ressources</a>
                        </li>
                        <li role="presentation">
                            <a id="gotoUsers">Clients</a>
                        </li>
                        <li role="presentation">
                            <a id="gotoDemendes">Demandes</a>
                        </li>
                        <li><a href="/logout/">deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
            {% if info %}
            <div id="alert" class="alert alert-{{infoType}}">{{info}}</div>
            {% endif %}
        <div id="zoneRessource">
            <div id="createRessource" style="display:none">
            <fieldset>
                <legend>Creer une ressource</legend>
                    <form action="/createRessource/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="id_numero">Numero: </label>
                            <input type="text" name="numero" id="id_numero"class="form-control" placeholder="numero de ressource"required/>
                        </div>
                        <div class="form-group">
                            <label for="id_prix">Prix: </label>
                            <input type="number" name="prix" id="id_prix" class="form-control" placeholder="prix"required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="id_type">Type: </label>
                            <input type="text" name="type" id="id_type" class="form-control" placeholder="type de ressource"required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="id_taille">Taille: </label>
                            <input type="number" name="taille" id="id_taille" class="form-control" placeholder="taille" required="required"/>
                        </div>
                        <div class="form-group">
                            <select name="B1other1_1" id='B1other1_1' class="select">
                            <option value='0'>Chaise</option>
                            <option value='1'>Table</option>
                            <option value='2'>Toillet</option>
                            <option value='3'>Lit</option>
                            </select>
                        </div>
                        <button id="quitCreation" class="btn btn-primary">Annuler</button>
                        <button type="submit" class="btn btn-primary float-right">Creer</button>
                    </form>

            </fieldset>
            </div>

            <div id="infoRessource">
                <fieldset>
                    <legend>Les informations des ressources</legend>
                    <table border="1">
                        <thead>
                        <tr>
                            <td>numero</td>
                            <td>type</td>
                            <td>taille</td>
                            <td>prix</td>
                            <td>detail</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in res %}
                        <tr>
                            <td>{{item.numero}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.taille}}</td>
                            <td>{{item.prix}}</td>
                            <td><a href="/consulterRes/?id={{item.id}}" class="text-success"> Consulter</a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a id="ModeCreation" class="text-success">Ajouter</a></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>

        </div>
        <div id="zoneDemande" style="display: none">
            <fieldset>
            <legend>Les informations des demandes</legend>
            <table border="1">
                <thead>
                <tr>
                    <td>id</td>
                    <td>checkin Date</td>
                    <td>checkout Date</td>
                    <td>demande Date</td>
                    <td>client</td>
                    <td>status</td>
                </tr>
                </thead>
                <tbody>
                {% for item in demandes %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.checkin}}</td>
                    <td>{{item.checkout}}</td>
                    <td>{{item.demandeTime}}</td>
                    <td>{{item.client}}</td>
                    <td>{{item.status}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        </div>
        <div id="infoClient" style="display: none">
        <fieldset>
        <legend>Les informations des clients</legend>
            <table border="1">
                <thead>
                <tr>
                    <td>login</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>adresse</td>
                    <td>tel</td>
                    <td>detail</td>
                </tr>
                </thead>
                <tbody>
                {% for item in users %}
                <tr>
                    <td>{{item.login}}</td>
                    <td>{{item.nom}}</td>
                    <td>{{item.prenom}}</td>
                    <td>{{item.adresse}}</td>
                    <td>{{item.tel}}</td>
                    <td><a href="/consulterClient/?id={{item.id}}" class="text-success"> Consulter</a></td>
                </tr> {% endfor %}

                </tbody>
            </table>
        </fieldset>
        </div>

    </div>
</body>
</html>