<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery.min.js" ></script>
    <script src='/static/js/page.js' ></script>
    <title>gestionnaire</title>
</head>
<body>
<h3>Page gestion</h3>
<div>
    <form action="/index/">
        <input type="submit" value="Deconnexion"/>
    </form>
</div>
<div id="zoneRessource">
    <fieldset>
        <legend>Gestion des ressources</legend>
        <button id="ModeCreation">Creation</button>
        <button id="ModeModification">Modification</button>
        <button id="ModeCancellation">Cancellation</button>
        <div id="createRessource" >
            <h4>Creer une nouvelle ressource</h4>
            <form action="/createRessource/" method="post">{% csrf_token %}
                <input type="text" name="numero" placeholder="numero de ressource"required="required"/>
                <input type="number" name="prix" placeholder="prix"required="required"/>
                <input type="text" name="type" placeholder="type de ressource"required="required"/>
                <input type="number" name="taille" placeholder="taille" required="required"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div id="modifyRessource"style="display:none">
            <h4>Modifier une ressource en fonction de son numero</h4>
            <form action="/modifyRessource/" method="post">{% csrf_token %}
                <input type="text" name="numero" placeholder="numero de ressource"required="required"/>
                <input type="number" name="prix" placeholder="prix"required="required"/>
                <input type="text" name="type" placeholder="type de ressource"required="required"/>
                <input type="number" name="taille" placeholder="taille" required="required"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div id="deleteRessource"style="display:none">
            <h4>Supprimer une ressource en fonction de son numero</h4>
            <form action="/deleteRessource/" method="post">{% csrf_token %}
                <input type="text" name="numero" placeholder="numero de ressource"required="required"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div id="infoRessource">
            <h4>Les informations des ressource</h4>
            <table border="1">
                <thead>
                <tr>
                    <td>numero</td>
                    <td>type</td>
                    <td>taille</td>
                    <td>prix</td>
                </tr>
                </thead>
                <tbody>
                {% for item in res %}
                <tr>
                    <td>{{item.numero}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.taille}}</td>
                    <td>{{item.prix}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>


<div id="infoClient">
<fieldset>
<legend>Les informations des clients</legend>
    <table border="1">
        <thead>
        <tr>
            <td>login</td>
            <td>nom</td>
            <td>prenom</td>
            <td>adresse</td>
            <td>tel</td>
        </tr>
        </thead>
        <tbody>
        {% for item in users %}
        <tr>
            <td>{{item.login}}</td>
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.adresse}}</td>
            <td>{{item.tel}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</fieldset>
</div>
<p>{{info}}</p>
</body>
</html>