<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/page.js' ></script>
    <title>Votre espace</title>
</head>
<body>
    <div class="container">

        <fieldset>
            <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">{{request.session.username}} </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                        <a href="/consulterProfile/" class="text-success">votre profile</a>
                        </li>
                        <li>
                        <a id="gotoInfoDemande" class="text-success">vos demandes</a>
                        </li>
                        <li><a href="/logout/" class="text-success">deconnexion</a></li>
                    </ul>
                </div>
                </div>
            </nav>
            {% if info %}
            <div id="alert" class="alert alert-{{infoType}}">{{info}}</div>
            {% endif %}
            <div id="createDemande">
                <legend>Trouvez les meilleures offres d'hébergement</legend>
                <form action="/createDemande/" method = "post">{% csrf_token %}
                    <div class="form-group">
                        <label>Check in date</label>
                        <input type="date" name="checkin" class="form-control" required="required" placeholder="checkin date"/>
                    </div>
                    <div class="form-group">
                        <label>Check out date</label>
                        <input type="date" name="checkout" class="form-control" required="required" placeholder="checkout date"/>
                    </div>
                    <div class="form-group">
                        <label>Nombre des personnes</label>
                        <input type="number" name="nb" class="form-control" required="required" placeholder="nombre de clients"/>
                    </div>
                    <button type="submit">cherchez</button>
                </form>
            </div>
            <div id="infoDemande" style="display: none">
                <legend>Vos demandes</legend>
                <p>Vous voulez louer une autre ressource? cliquez <a id="gotoCreateDemande" class="text-success">ici</a> </p>
                <table border="1">
                    <thead>
                    <tr>
                        <td>id</td>
                        <td>personnes</td>
                        <td>date de demande</td>
                        <td>date de checkin</td>
                        <td>date de checkout</td>
                        <td>status</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in demandes %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nbPerson}}</td>
                        <td>{{item.demandeTime}}</td>
                        <td>{{item.checkin}}</td>
                        <td>{{item.checkout}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</body>
</html>