<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/page.js' ></script>
    <title>{{request.session.username}}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">{{user.prenom}} {{user.nom}} </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/gotoModifyAccount/" class="text-success" >modifiez votre compte</a></li>
                        <li><a href="/mainPage/" class="text-success">retour</a></li>
                        <li><a href="/logout/" class="text-success">deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul>
            <li>Email: {{user.email}}</li>
            <li>Adresse: {{user.adresse}}</li>
            <li>Telephone: {{user.tel}}</li>
        </ul>
    </div>
</body>
</html>