<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/page.js' ></script>
    <title>{{res.id}}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Information de ressource {{res.id}} </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/consulterRes/modifyRessource/?id={{res.id}}" class="text-success">modifier</a>
                        </li>
                        <li>
                            <a href="/consulterRes/deleteRessource/?id={{res.id}}" class="text-success">supprimer</a>
                        </li>
                        <li>
                            <a href="/gestionnaire/" class="text-success">retour</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if info %}
            <div id="alert" class="alert alert-{{infoType}}">{{info}}</div>
        {% endif %}

        <ul>
            <li>Numero: {{res.numero}}</li>
            <li>Type: {{res.type}}</li>
            <li>Taille: {{res.taille}}</li>
            <li>Prix: {{res.prix}}</li>
        </ul>
    </div>
</body>
</html>